aside.column.is-one-quarter
    form(action="#")  
        h2.box 26 Results Found
        ul.box
            li Param 1
            li 
                input(type="checkbox", name="check1")
                label(for="check1") vale1
            li 
                input(type="checkbox", name="check2")
                label(for="check2") vale2
            li 
                input(type="checkbox", name="check3")
                label(for="check3") vale3
            li 
                input(type="checkbox", name="check4")
                label(for="check4") vale4
            li 
                input(type="checkbox", name="check5")
                label(for="check5") vale5
        ul.box 
            li Param 2
            li 
            input(type="radio", name="rad1")
            label(for="rad1") value 2_1
            li 
            input(type="radio", name="rad2")
            label(for="rad2") value 2_2
            li 
            input(type="radio", name="rad3")
            label(for="rad3") value 2_3
        ul.box 
            li Param 3
            li(style="margin-bottom:5px;") 
                input.input.is-success.is-small.is-rounded(type="text", placeholder="min", pattern="[0-9]{2}" )
            li
                input.input.is-success.is-small.is-rounded(type="text", placeholder="max", pattern="[0-9]{3}" )
        ul.box 
            li Param 4
            li 
                input.input.is-success.is-small.is-rounded(type="text", placeholder="Keyword" )
        button.button.is-success.is-medium(style="margin-left:25%;") SEARCH