nav.pagination.is-centered(role='navigation' aria-label='pagination')
  a.pagination-previous Previous
  a.pagination-next Next page
  ul.pagination-list
    li
      a.pagination-link(aria-label='Goto page 1') 1
    li
      span.pagination-ellipsis &mldr;
    li
      a.pagination-link(aria-label='Goto page 45') 45
    li
      a.pagination-link.is-current(aria-label='Page 46' aria-current='page') 46
    li
      a.pagination-link(aria-label='Goto page 47') 47
    li
      span.pagination-ellipsis &mldr;
    li
      a.pagination-link(aria-label='Goto page 86') 86
