.container
  nav.navbar(role='navigation' aria-label='main navigation')
      a.navbar-item(href='https://bulma.io/') Home
      a.navbar-item(href='https://bulma.io/') Home
      a.navbar-item(href='https://bulma.io/') Home
      a.navbar-item(href='https://bulma.io/') Home
      a.navbar-item(href='https://bulma.io/') Home
    
