.container(style="margin-bottom:10px;")
  nav.navbar(role='navigation' aria-label='main navigation', style="justify-content:center;")
    each val in nav
      a.navbar-item(href=val.href, style="font-size:2rem;")=val.text