doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title Online TV
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet" href="css/style.min.css")
    body
    
        include modules/header/header
       
        
        script(src='js/main.min.js')
