doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title=page_meta.title
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(name="keywords", content=page_meta.meta_keywords)
        meta(name="description", content=page_meta.meta_description)
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet" href="css/style.min.css")
    body
        include modules/header/header
        include modules/nav/nav
        include modules/breadcramb/breadcramb
        include modules/main/main
        include modules/footer/footer
       
        
        script(src='js/main.min.js')
