main.container
        h1.box.title.is-2(style="margin-top:10px;text-align:center;")=page_meta.h1
        .columns.is-desktop
            include ../aside/aside 
            .column.is-three-quarters
                include ../main-navigation/main-nav 
                include ../pug-mixins/card-mixin
                each val in stock
                    +Card(val)
                include ../main-navigation/main-nav 

                
                .box 
                    each val in page_text
                        p.box &nbsp;&nbsp; #{val.content}
                